/* COLORS */
/* http://chir.ag/projects/name-that-color/ service used */

//Basic colors
$site-color-black: #000;
$site-color-white: #fff;

//Light gray
$site-color-spun-pearl: #aeadb0; //Icons in the sidebar menu
$site-color-oslo-gray: #939598;
$site-color-jumbo: #807f83;
$site-color-black-haze: #e7e8e8;
$site-color-iron: #dcddde;
$site-color-silver: #ccc;
$site-color-tiara: #c6ced0;

//Dark gray
$site-color-dove-gray: #666;
$site-color-ship-gray: #34313a; //Sidebar background
$site-color-ship-gray-light: #424046; //Sidebar menu items dots
$site-color-baltic-sea: #2c2a31; //Sidebar menu opened submenu
$site-color-baltic-sea-dark: #1f1d23; //Sidebar menu active item
$site-color-baltic-sea-extra: #1a181d; //Search field in sidebar

//Green
$site-color-sushi: #8dc63f;
$site-color-tiber: #07373d;

//Blue
$site-color-sky-blue: #75cdee;
$site-color-blue-bayoux: #4b6c79;