<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 footer-part-left">
        <div class="row">
          <div class="col-sm-4 col-md-3 item">
            <h4 class="title">Navigation</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Plans &amp; Pricing</a></li>
              <li><a href="#">Technologies</a></li>
              <li><a href="#">Series</a></li>
              <li><a href="#">Articles</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Enterprise Training</a></li>
            </ul>
          </div>

          <div class="col-sm-4 col-md-3 item">
            <h4 class="title">Technologies</h4>
            <ul>
              <li><a href="#">All Technologies</a></li>
              <li><a href="#">AngularJS</a></li>
              <li><a href="#">Core JavaScript</a></li>
              <li><a href="#">D3</a></li>
              <li><a href="#">ECMAscript 6</a></li>
              <li><a href="#">Grunt</a></li>
              <li><a href="#">Misc</a></li>
              <li><a href="#">Node.js</a></li>
              <li><a href="#">React</a></li>
              <li><a href="#">All Free Lessons</a></li>
              <li><a href="#">All Pro Lessons</a></li>
            </ul>
          </div>

          <div class="col-sm-4 col-md-5 item">
            <h4 class="title">Series</h4>
            <ul>
              <li><a href="#">All Series</a></li>
              <li><a href="#">Introduction to D3</a></li>
              <li><a href="#">AngularJS Data Modeling</a></li>
              <li><a href="#">React: Flux Architecture</a></li>
              <li><a href="#">Learn Protractor Testing for AngularJS</a></li>
              <li><a href="#">React Fundamentals</a></li>
            </ul>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- footer-part-left -->

      <div class="col-md-4 footer-part-right">
        <h4 class="title">Search Lessons</h4>

        <div class="search-field-holder">
          <form action="">
            <input class="form-control input-search" type="text" placeholder="Search lessons for...">
            <button class="btn-submit icon-search" type="submit"></button>
          </form>
        </div>
        <!-- search-field-holder -->

        <div class="div terms-conditions-holder">
          &copy; edepo.io
          <br>
          <a href="#">Terms and Conditions &amp; Privacy Policy</a>
        </div>
        <!-- terms-conditions-holder -->

        <div class="social-holder">
          <a href="#" class="icon-twitter"></a>
          <a href="#" class="icon-facebook"></a>
          <a href="#" class="icon-google-plus"></a>
        </div>
        <!-- social-holder -->
      </div>
      <!-- footer-part-right -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</footer>