/* Prefooter & Footer */
.section-prefooter {
	background: $prefooter-bg;
	color: rgba($color-white, 0.44);
	font-size: 14px;
	text-shadow: 3px 3px 5px rgba($color-black, 0.5);
	@include respond-to(tablets-portrait) {
		font-size: 14px;
	}
	a {
		color: rgba($color-white, 0.44);
	}
	.item {
		@include respond-to(tablets-portrait) {
			margin-bottom: 20px;
		}
		@include respond-to(mobile) {
			text-align: center;
			font-size: 16px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.title {
		margin-bottom: 5px;
		@include respond-to(mobile) {
			font-size: 16px;
		}
	}
}

footer {
	background: $footer-bg;
	padding: 25px 0 100px 0;
	color: rgba($color-white, 0.44);
	line-height: 16px;
	@include respond-to(mobile) {
		text-align: center;
		padding: 25px 0;
	}
	.part-right {
		text-align: right;
		@include respond-to(mobile) {
			text-align: center;
			margin-top: 15px;
		}
	}
}

.privacy-links-list {
	@extend .clearfix;
	display: inline-block;
	li {
		float: left;
		padding-left: 10px;
		margin-left: 10px;
		border-left: 1px solid rgba($color-white, 0.44);
		&:first-child {
			padding-left: 0;
			margin-left: 0;
			border: none;
		}
	}
	a {
		color: $color-sushi;
	}
}