<section class="filters-bar">
    <div class="filters-dropdown-holder">
        <div class="dropdown dropdown-filters">
            <button class="btn btn-default dropdown-toggle" id="dropdown-filters-trigger" data-toggle="dropdown" aria-expanded="true">
                Filter
                <span class="icon"></span>
            </button>

            <div class="dropdown-menu" role="menu" aria-labelledby="dropdown-filters-trigger">
                <form class="form" action="">
                    <ul class="list">
                        <li>
                            <h4 class="title">Timeframe</h4>
                            <label class="radio-inline custom-radio">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <span class="custom-icon-radio"></span>Today
                            </label>
                            <label class="radio-inline custom-radio">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <span class="custom-icon-radio"></span>This week

                            </label>
                            <label class="radio-inline custom-radio">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                <span class="custom-icon-radio"></span>This month
                            </label>
                            <label class="radio-inline custom-radio">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                <span class="custom-icon-radio"></span>Custom...
                            </label>
                        </li>

                        <li>
                            <h4 class="title">Priority</h4>
                            <label class="checkbox-inline custom-checkbox">
                                <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox1" value="option1">
                                <span class="custom-icon-checkbox"></span>Today
                            </label>
                            <label class="checkbox-inline custom-checkbox">
                                <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox2" value="option2">
                                <span class="custom-icon-checkbox"></span>This week

                            </label>
                            <label class="checkbox-inline custom-checkbox">
                                <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox3" value="option3">
                                <span class="custom-icon-checkbox"></span>This month
                            </label>
                        </li>

                        <li>
                            <label class="checkbox-inline custom-checkbox">
                                <input type="checkbox" name="inlineRadioOptions" id="inlineCheckbox3" value="option3">
                                <span class="custom-icon-checkbox"></span>Include archived cases?
                            </label>

                            <button class="btn btn-custom btn-custom-green" type="submit">Apply Filters</button>
                        </li>
                    </ul>
                </form>
            </div><!-- dropdown-menu -->
        </div><!-- dropdown-filters -->

        <div class="dropdown dropdown-filters">
            <button class="btn btn-default dropdown-toggle" id="dropdown-filters-trigger" data-toggle="dropdown" aria-expanded="true">
                Sort by...
                <span class="icon"></span>
            </button>

            <div class="dropdown-menu" role="menu" aria-labelledby="dropdown-filters-trigger">
                <form action="">
                    <ul class="list">
                        <li>
                            1
                        </li>

                        <li>
                            2
                        </li>

                        <li>
                            3
                        </li>
                    </ul>
                </form>
            </div><!-- dropdown-menu -->
        </div><!-- dropdown-filters -->
    </div><!-- filters-dropdown-holder -->
</section><!-- filters-bar -->